.layout {
  max-width: 1140px;
  margin: 0 auto;
  padding: 80px 40px 40px;
}

@media all and (max-width: 960px) {
  .layout {
    padding: 80px 24px 40px;
  }
}

@media all and (max-width: 540px) {
  .layout {
    padding: 64px 16px 40px;
  }
}
