.sortPanel {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.sortGroup, .sortingType {
  margin: 8px 12px 0 0;
  flex: 1 1 100%;
}

@media all and (max-width: 540px) {
  .sortGroup {
    margin: 0;
  }
  .sortingType {
    margin: 8px 0 0;
  }
}
