.avatarName {
  display: flex;
  align-items: center;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--secondary-100);
}

.image svg {
  height: 100%;
}

.name {
  font-size: 18px;
  font-weight: 500;
}
