.avatarName {
  display: flex;
  align-items: center;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--secondary-100);
}

.image svg {
  height: 100%;
}

.name {
  font-size: 18px;
  font-weight: 500;
}

@media all and (max-width: 540px) {
  .name {
    font-size: 16px;
  }

  .image {
    margin-right: 6px;
    width: 40px;
    height: 40px;
  }
}
