.cardItem {
  display: flex;
  background-color: var(--base-0);
  border-radius: 12px;
}

.cardItem.hasVideo {
  grid-area: auto / 1 / auto / 3;
}

.content {
  position: relative;
  width: 100%;
  padding: 24px;
}

.cardItem.hasVideo:not(.tableView) .content {
  width: calc(50% - 8px);
}

.avatarName {
  margin: 0 0 16px;
}

.phone {
  display: inline-block;
  margin: 4px 0 8px;
  color: var(--main-500);
  font-weight: 500;
}

.phone:hover {
  box-shadow: 0 1px 0 0 currentColor;
}

.phrase {
  color: var(--base-300);
  max-width: 320px;
}

.videoWrapper {
  flex: 1 1 50%;
}

.videoWrapper video {
  width: 100%;
  height: 100%;
  border-radius: 0 12px 12px 0;
  object-fit: cover;
}

.favoriteBtn {
  position: absolute;
  top: 16px;
  right: 16px;
}

/* table view */

.cardItem.tableView:not(:last-child) {
  margin: 0 0 4px;
}

.cardItem.tableView .content {
  display: flex;
  padding: 10px 20px;
  align-items: center;
}

.cardItem.tableView .content .avatarName {
  width: 40%;
  min-width: 180px;
  margin: 0 8px 0 0;
}

.cardItem.tableView .content .age {
  width: 16%;
  min-width: 40px;
  margin: 0 8px 0 0;
}

.cardItem.tableView .content .phone {
  margin: 0;
}

.cardItem.tableView .content .favoriteBtn {
  top: calc(50% - 12px);
  right: 16px;
}

@media all and (max-width: 540px) {
  .cardItem.hasVideo {
    grid-area: auto;
    flex-direction: column;
  }

  .cardItem.hasVideo:not(.tableView) .content {
    width: 100%;
  }

  .content {
    padding: 12px;
  }

  .videoWrapper {
    flex: 1 1 100%;
  }

  .videoWrapper video {
    border-radius: 0 0 12px 12px;
  }

  .favoriteBtn {
    top: 12px;
    right: 12px;
  }

  /* table view */
  .cardItem.tableView .content {
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
  }

  .cardItem.tableView .content .avatarName,
  .cardItem.tableView .content .age {
    width: 100%;
  }

  .cardItem.tableView .content .favoriteBtn {
    top: 12px;
    right: 12px;
  }
}
